# DHIS2 Platform
node_modules
.pnpm-store
.d2
src/locales
build

# Legacy build artifacts
compiled
manifest.webapp

# Local dev config / editor
d2auth.json
.history
.tmp
.vscode
bin
.DS_Store
__pycache__/
